/* layout styles */
html,
body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
    font-weight: 200;
    -webkit-user-select: none;
    cursor: default;
    min-width: 735px;
    min-height: 500px;
}

#controls {
    position: absolute;
    top: 0px;
    width: 100%;
    background: #fff;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #e1e4e8 solid;
    padding: 0px 20px;
    z-index: 10;
}

#controls>div {
    float: left;
}

.logo {
    margin: 0 25px;
    font-weight: 400;
}

.logo>span:first-child {
    color: rgb(25, 118, 210);
}

button {
    border-radius: 3px;
}

button:hover {
    background: #eee;
}

select,
button {
    background: transparent;
    border: none;
    height: 30px;
    line-height: 29px;
    padding: 0 12px;
    cursor: pointer;
}

*:focus {
    outline: none;
}

.lnr {
    font-size: 19px;
    position: relative;
    bottom: -3px;
    margin-right: 7px;
}

#console {
    position: fixed;
    height: calc(100% - 61px);
    padding: 5px;
    width: 300px;
    right: 0px;
    background: #333;
    top: 51px;
    overflow: auto;
    font-family: monospace;
    color: #ccc;
}

#console>pre {
    margin: 5px;
}

.github-button {
    display: none;
}

.github {
    position: absolute;
    right: 40px;
    top: 8px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border: 2px solid #666;
    width: 10px;
    border-radius: 5px;
}


/* Game styles */
#board {
    display: inline-block;
    position: relative;
    font-family: cursive;
    font-size: 14px;
    position: relative;
    left: -150px;
    bottom: -25px;
}

#board .cell {
    /* background: #fefefe; */
    display: block;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #002471;
    font-style: italic;
    color: rgba(51, 51, 51, 0.7);
}

#board .l{
    border-left-color: #fff;
}
#board .r{
    border-right-color: #fff;
}
#board .t{
    border-top-color: #fff;
}
#board .b{
    border-bottom-color: #fff;
}

#player{
    background: rgb(25, 118, 210);
    position: absolute;
    border-radius: 2px;
    z-index: 1;
}

#console #clear{
    position: absolute;
    right: 10px;
    color: #ccc;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#clear:hover{
    background: transparent;
    color: #fff
}

#console:hover #clear{
    opacity: 1;
}