@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
    /* just dummy value actual value is set from renderer class */
    --cell-size: 0;
}

#player {
    /*
     * Basically, we only need transition on x, y only
     * but, I'm not sure how to do that
     */
    transition: all .15s ease;
}

#board > svg {
    /* to scale bord down on small screens */
    max-height: calc(100vh - 72px);
    max-width: 100%;
}

.maze-wall {
    /*
     * Nice little trick to make growing wall animation
     * Surprisingly, this works for when multiple path
     * definitions are combined in a single path tag
     */
    stroke-dasharray: var(--cell-size);
    stroke-dashoffset: 0;

    /*
     * Initially I was using transition and then setting
     * states from javascript, replacing them with animation
     * save a lot of code
     */
    animation: maze-wall .5s;
}

@keyframes maze-wall {
    from {
        stroke-dashoffset: var(--cell-size);
    }
    to {
        stroke-dashoffset: 0;
    }
}
